body {
  font-family: 'Poppins', sans-serif;
  background: #fdf7f3;
  margin: 0;
  padding: 2rem;
  color: #444;
}

.ver-pantalla,
.volver-menu {
  bottom: 20px;
  right: 20px;
  background: #e67a8a;
  color: #fff;
  border-radius: 999px;
  padding: 0.8rem 1.2rem;
  font-size: 0.85rem;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}


/* header */
.header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 200px;
  margin-bottom: 0.5rem;
}

.header h1 {
  font-size: 1.5rem;
  color: #e67a8a;
}

/* subtítulos */
.subtitulo {
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem;
  color: #e67a8a;
}

.subtitulo.listo {
  color: #6ec1a5;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}

/* tarjetas */
.pedido {
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.pedido:hover {
  transform: scale(1.05);
}

/* estados */
.pedido.prep {
  background: #ffe4e8;
  border: 2px solid #f8b6c1;
}

.pedido.listo {
  background: #d9f3ea;
  border: 2px solid #9edac8;
}

/* código */
.codigo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

/* cliente */
.cliente {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: #666;
}